*{
     background-color: black;
     border: 3px;
}

h1{
    color: white;
    text-align: center;
    text-shadow: 1px 4px 12px white;
}
.gridcontainer{
   
    margin-top: 200px;
    margin-left:100px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr  1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
}


.items:hover{
    cursor: pointer;
    padding: 30px;
    background-color: white;

   
}